<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tritri.helpmefallasleep">

    <application
        android:allowBackup="true"
        android:icon="@drawable/trans528"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".activity_home"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_add_to_list"
            android:label="@string/title_activity_activity_add_to_list"/>

        <service android:name=".AudioService" />

        <activity android:name=".activity_instructions"/>
    </application>

</manifest>